<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular.js"></script>
	<script src="app.js"></script>
	<link href="" rel="stylesheet">
</head>

<body >
	<div ng-controller="myCtrl">
		<input type="text" ng-model="food">
		<button type="button" ng-click="add()">add</button>
		
		<br>
		<button type="button" ng-click="checkFull()" >Check If Too Much</button>
		<p> {{foods}}</p>
		<p>{{ message}}</p>
		
	</div>

</body>

</html>